@import "support";
@import "colors";

.distroPanel {

	@extend %panel;

	.distroList {

		@extend %responsiveWrappingHorizontalFlexBox;

		.distro {

			@extend %removeLinkStyle;

			$distroColor: lighten($panelColor, 10%);

			margin-top: 0.5rem;
			padding: 1rem 1rem 1rem 1rem;

			background-color: $distroColor;

			display: flex;

			&:hover {

				background-color: lighten($distroColor, 10%);

			}

			.name {

				font-size: 2.5em;
				margin-left: 0.5rem;

			}

		}

	}

	.actions {

		margin-top: 0.5rem;

		.actionList {

			display: flex;
			flex-direction: column;

		}

	}

}
